.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 500px;

}

.innerButton {
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

h1 {
    color: #f6cd61;
    font-size: 60px;
    text-align: center;
}

h2 {
    color: #f6cd61;
    font-size: 20px;
    text-align: center;
}

div {
    font-size: 22px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

body {
    padding-top:54%;
    background: url("../images/blue-security-fb.jpg") no-repeat center fixed;
    background-size: cover;
}

.button {
    background-color: black;
    border: none;
    color: #f6cd61;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
    cursor: pointer;
}

input {
    text-align: center;
    font-size: 50px;
}

output {
    text-align: center;
    font-size: 50px;
}

.center {
    margin: auto;
    padding: 35px 10px 10px;
    text-align: center;
}

::placeholder {
    color: #f6cd61;
}

.dataField {
    color: #f6cd61;
    background-color: rgba(255, 255, 255, .0);
    border: 4px solid #f6cd61;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 15px;
    width: 250px;
    height: 5px;
    margin-top: 18px;
}

.removeTopSpace {
    margin-top: -10px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: rgba(246, 205, 97, 0.8);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(246, 205, 97);
}

.password-generated{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32%;
}

@media screen and (max-width: 800px) {
    .dataField, .inner, .innerButton {
        width: 95%;
    }

    body {
      padding-top:200%;
    }

    h1 {
        font-size: 12vw;
        text-align: center;
    }

    h2 {
        font-size: 5vw;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .button{
        width: 100%;
        background-color: black;
        border: none;
        color: #f6cd61;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        border-radius: 8px;
        margin-bottom: 2vw;
        margin-top: 1vw;
    }

    .dataField {
        width: 60vw;
        margin-left: auto;
        margin-right: auto;

    }

    .password-generated{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }
}

h3 {
    text-align: center;
    color: #f6cd61;
}
