body {

    background-size: cover;
    font-family: arial;
    border-radius: 5px;
    box-shadow: 1px 5px 50px -20px rgb(246, 205, 97);
    padding-top: 30px;
    background: url("../images/blue-security-fb.jpg") no-repeat center fixed;
    background-size: cover;
}

h2 {
  font-size: 17px;
}

.ierarhie {
    float: none;
    width: 95%;
    height: 650px;
}

.categorie {
    float: left;
    width: 95%;
    height: 650px;
}

.conturi_site {
    float: left;

    width: 95%;
    height: 650px;
}


.upMenuBar {
    font-family: arial;
    color: rgb(246, 205, 97);
}

.menuBar {
    display: flex;
    margin-top: -37px;
    height: 125%;
}


.myAccount {
    margin-left: auto;
    margin-right: auto;
}

.generatePassword {
    margin-left: auto;
    margin-right: auto;
}

.exportData {
    margin-left: auto;
    margin-right: auto;

}

.sortedView {
    margin-left: auto;
    margin-right: auto;
}

.settings {
    margin-left: auto;
    margin-right: auto
}

.changePassword {
    margin-left: auto;
    margin-right: auto
}

.logout {
    margin-left: auto;
    margin-right: auto
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    /*background-color: #f6cd61;*/
}

.flexview {
    display: inline-flex;
    flex-direction: column;
}

ul {
    background-color: rgba(246, 205, 97, 0.15);
    padding: 10px;
    border: 1px solid rgb(246, 205, 97);
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none; /* scapam de bulinele de la lista */
    /*border: 2px solid #555; -- de ce nu merge?! -- ca sa fie separate de ceva */
}

.center {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 30px;
    padding: 35px 10px 10px;
}

iframe {
    border: 2px solid #f6cd61;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
}

a {
    color: #f6cd61;
}

a:link {
    color: #f6cd61;
}

a:visited {
    color: #f6cd61;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: rgba(246, 205, 97, 0.8);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(246, 205, 97);
}

@media screen and (min-width: 1700px) {

.ierarhie {
    float: none;
    width: 95%;
    height: 700px;
}

.categorie {
    float: left;
    width: 95%;
    height: 700px;
}

.conturi_site {
    float: left;
    width: 95%;
    height: 700px;
}
body{
    padding-top: 50px;
}

}

.column {
  float: left;
  width: 80%;
  padding: 10px;
  /*height: 300px;  Should be removed. Only for demonstration */
}

.button {
    background-color: rgba(0, 0, 0, 0.85);
    border: none;
    color: #f6cd61;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.buttonReversed {
    background-color: rgba(246, 205, 97, 0.85);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 500px;

}

.innerButton {
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.buttonWrapper {
    word-wrap: normal;
    white-space: normal;
}

.textWrapper {
    word-wrap: break-word;
    background-color: rgba(246, 205, 97, 0.85);
    border: none;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    margin-bottom: 10px;
    padding-left: 150px;
    margin-top: 5px;
    width: 74%;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: rgba(246, 205, 97, 0.8);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(246, 205, 97);
}

a {
    color: black;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

.buttonMargin {
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 800px) {
    .grid-container {
        display: table-row;
    }
    .menuBar {
        display: table-row;
    }
    .textWrapper {
        word-wrap: break-word;
        background-color: rgba(246, 205, 97, 0.85);
        border: none;
        color: black;
        padding: 15px 32px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 15px;
        margin-bottom: 10px;
        margin-top: 5px;
    }
}
