body{
	color:red;
	overflow: auto; 
	width: 70%;
	max-width: 1280px;
	min-width: 480px;
	zoom: 250%;
}

.button{
  position: relative;
  border: dotted;
  padding: 10px;
  transition-duration: 0.4s; /* Css transitions allows you to change property values smoothly  */
  text-decoration: none;
}

.button:after {
  background: #F9F9E6;
  display: block; /*Displays an element as a block element*/
  position: absolute;
  padding-top: 100%;
  padding-left: 100%;
  margin-left: -10px;
  margin-top: -45%;
  opacity: 0; 
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

/*To-Do: 2 pictograme dragute si sugestive + mesaj sub ele la atingere */ 
#iconVizualizare{
	background:url(../Resources/icon_vizualizare.png) no-repeat;
	cursor: pointer;
}

#iconCopiere{
	background:url(../Resources/icon_copiere.png) no-repeat;
	cursor: copy;
}

#password{
	list-style-type: none; /*Removes the bullets*/
	margin: 3%; /*remove browser default settings*/
	overflow: hidden;
	background: pink; 
}

#password li {
  float: left;
  margin: 2%; 
}
